//FONT-FAMILY
$primary-font-family: 'Museo Sans Cyrl';
$secondary-font-family: 'Montserrat';

//COLORS
$primary-light-color: #ffffff;
$primary-dark-color: #000000;
$secondary-dark-color: #333333;
$text-color: #4f4f4f;
$placeholder-color: #828282;
$background-color: rgba(79, 98, 246, 0.1);
$border-color: #4f62f6;
$light-border-color: #e0e0e0;
$button-color: #6248ff;
$hover-color: #7181fc;
