.info-section__heading {
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  color: $secondary-dark-color;
  margin: 40px 0;
  & span {
    background-color: $background-color;
  }
}
.list__item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 280px;
  background: $primary-light-color;
  border: 2px solid $border-color;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 0 auto 15px;
}
.list__number {
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $border-color;
}
.sub-heading {
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $secondary-dark-color;
  margin-bottom: 20px;
}
.photo {
  display: block;
  margin: 0 auto;
}

.name {
  display: block;
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $secondary-dark-color;
}
.position {
  display: block;
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: $secondary-dark-color;
  opacity: 0.7;
}
.comment {
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $secondary-dark-color;
  &::before {
    content: url('images/parentheses.png');
    display: block;
    width: 33px;
    height: 27px;
    margin: 20px auto;
  }
}
.question-box {
  padding: 24px;
  background: $primary-light-color;
  border: 2px solid $border-color;
  box-sizing: border-box;
  margin: 0 auto 15px;
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.question {
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $secondary-dark-color;
}
.open-button {
  border: none;
  width: 18px;
  height: 18px;
  background: url('images/Group.svg');
  cursor: pointer;
}
.answer {
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 27px;
  color: $text-color;
  width: 100%;
  display: none;
}
.show {
  display: inline;
}

@media (min-width: 768px) {
  .list__item {
    position: absolute;
    width: 329px;
    &::before,
    &::after {
      position: absolute;
    }
  }
  .section__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 900px;
    margin: 0 auto;
  }
  .first-item::after {
    content: url('images/Vector34.png');
    top: 50%;
    left: 100%;
  }
  .second-item {
    top: 20%;
    left: 340px;
    &::before {
      content: url('images/Vector37.png');
      top: 50%;
      right: 100%;
    }
  }
  .third-item {
    top: 43%;
    &::after {
      content: url('images/Vector38.png');
      top: 50%;
      left: 100%;
    }
  }
  .fourth-item {
    top: 65%;
    left: 340px;
  }
}
.slider__arrows {
  width: 20px;
  background: $primary-light-color;
  &::hover {
    border: 1px solid $border-color;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .info-section {
    padding: 30px 60px;
  }
}

@media (min-width: 1200px) {
  .slider__arrows {
    position: absolute;
    left: -500px;
    bottom: 0;
  }
  .slider__track {
    width: 100%;
  }
  .info-section {
    padding: 30px 80px;
  }
  .question-box {
    width: 995px;
  }
  .list__item {
    width: 423px;
  }
  .first-item::after {
    top: 50%;
    left: 100%;
  }
  .second-item {
    top: 18%;
    left: 500px;
  }
  .third-item {
    top: 38%;
    &::after {
      top: 50%;
      left: 100%;
    }
  }
  .fourth-item {
    top: 58%;
    left: 500px;
  }
  .feedback-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #splide {
    width: 50%;
  }
  .photo {
    display: inline;
  }
  .name {
    display: inline;
  }
  .position {
    display: inline;
  }
  .comment {
    text-align: initial;
    &::before {
      display: inline;
    }
  }
}
